<IfModule mod_rewrite.c>
 RewriteEngine On
 
 #Protected Pages
 RewriteCond %{REQUEST_URI} ^/framework_template/login/
 RewriteCond %{REQUEST_FILENAME} -d
 RewriteRule . ErrorDocument/403.php [L]    
 
 #Action Page
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 
 RewriteRule index$    							index.php [L] 
 RewriteRule index.exe$    						index.php [L] 
 RewriteRule index.jsp$    						index.php [L] 
 RewriteRule index.asp$    						index.php [L] 
 RewriteRule index.css$    						index.php [L] 

 RewriteRule auth/?$    						auth.php [L]   
 RewriteRule auth/([^/.]+)/?$					auth.php?do_act=$1  [L]	 

 RewriteRule home/?$    						home.php [L]   
 RewriteRule home/([^/.]+)/?$					home.php?do_act=$1  [L]	 
 RewriteRule home/([^/.]+)/([^/.]+)?$			home.php?do_act=$1&id_parameter=$2  [L]	

 RewriteRule kategori/?$    					kategori.php [L]   
 RewriteRule kategori/([^/.]+)/?$				kategori.php?do_act=$1  [L]	 
 RewriteRule kategori/([^/.]+)/([^/.]+)?$		kategori.php?do_act=$1&id_parameter=$2  [L] 

 RewriteRule produk/?$    						produk.php [L]   
 RewriteRule produk/([^/.]+)/?$					produk.php?do_act=$1  [L]	 
 RewriteRule produk/([^/.]+)/([^/.]+)?$			produk.php?do_act=$1&id_parameter=$2  [L]
 
 RewriteRule bank/?$    						bank.php [L]   
 RewriteRule bank/([^/.]+)/?$					bank.php?do_act=$1  [L]	 
 RewriteRule bank/([^/.]+)/([^/.]+)?$			bank.php?do_act=$1&id_parameter=$2  [L]
 
 RewriteRule keluhan/?$    						keluhan.php [L]   
 RewriteRule keluhan/([^/.]+)/?$				keluhan.php?do_act=$1  [L]	 
 RewriteRule keluhan/([^/.]+)/([^/.]+)?$		keluhan.php?do_act=$1&id_parameter=$2  [L]

 RewriteRule faq/?$    							faq.php [L]   
 RewriteRule faq/([^/.]+)/?$					faq.php?do_act=$1  [L]	 
 RewriteRule faq/([^/.]+)/([^/.]+)?$			faq.php?do_act=$1&id_parameter=$2  [L]	

 RewriteRule slider/?$    						slider.php [L]   
 RewriteRule slider/([^/.]+)/?$					slider.php?do_act=$1  [L]	 
 RewriteRule slider/([^/.]+)/([^/.]+)?$			slider.php?do_act=$1&id_parameter=$2  [L]	

 RewriteRule vendor/?$    						vendor.php [L]   
 RewriteRule vendor/([^/.]+)/?$					vendor.php?do_act=$1  [L]	 
 RewriteRule vendor/([^/.]+)/([^/.]+)?$			vendor.php?do_act=$1&id_parameter=$2  [L]	

 RewriteRule testimoni/?$    					testimoni.php [L]   
 RewriteRule testimoni/([^/.]+)/?$				testimoni.php?do_act=$1  [L]	 
 RewriteRule testimoni/([^/.]+)/([^/.]+)?$		testimoni.php?do_act=$1&id_parameter=$2  [L]	

 RewriteRule kritik_saran/?$    				kritik_saran.php [L]   
 RewriteRule kritik_saran/([^/.]+)/?$			kritik_saran.php?do_act=$1  [L]	 
 RewriteRule kritik_saran/([^/.]+)/([^/.]+)?$	kritik_saran.php?do_act=$1&id_parameter=$2  [L]	

 RewriteRule website/?$    						website.php [L]   
 RewriteRule website/([^/.]+)/?$				website.php?do_act=$1  [L]	 
 RewriteRule website/([^/.]+)/([^/.]+)?$		website.php?do_act=$1&id_parameter=$2  [L]

 RewriteRule pemesanan/?$    					pemesanan.php [L]   
 RewriteRule pemesanan/([^/.]+)/?$				pemesanan.php?do_act=$1  [L]	 
 RewriteRule pemesanan/([^/.]+)/([^/.]+)?$		pemesanan.php?do_act=$1&id_parameter=$2  [L]	

</IfModule>